body
{
    font:small sans-serif; 
    color: white;
    background-color: rgb(30, 30, 30);
    font-size: 14px;
    line-height: 1.5em;
    margin: auto;
    max-width: 750px;
    padding-bottom: 20px;
}

h1, h2, h3
{
    margin: 0;
}

a
{
    text-decoration:none;
    color: white;
}

#Container
{
    padding-top: 20px;
    margin: auto;
    background-color: rgb(39, 39, 39);
    padding-bottom: 20px;
}

#Nav .selected
{
    font-weight: bold;
}

#Nav ul
{
    margin: auto;
    list-style-type: none;
    padding: 1px;
}



#TitleHed
{
     padding-top: 40px;
     text-align: center;
     background-color: rgb(0, 126, 199);
     padding-bottom: 40px;
}

#Main
{
    
    padding-top: 40px;
    padding-left: 10px;
    width: auto;
    text-align: left;
    padding-bottom: 40px;
}

#Footer
{
    padding: 10px;
    clear: both;
    width: auto;
    text-align: right;
    background-color: rgb(5, 113, 175);
    color: white;
}

iframe{
width: 100%;
max-width: 800px /*this can be anything you wish, to show, as default size*/
}

@media (max-width: 640px){
iframe{
height: 360px /*whatever you need, to make the scrollbar hide on testing, and the content of the iframe reveal (on mobile/phone or other target devices) */
}
}
@media (max-width: 560px){
iframe{
height: 315px /*and so on until and as needed */
}
}

#Video
{
    padding-left: 0px;
    padding-right: 10px;
    width: auto;
}