{% extends 'layout.html' %}

{% block content %}
<div class="Paragraph">
  <h2>{{Titleparagraf.content}}</h2>
  <p>{{ParagrafOne.content}}</p>
  <p>

    Nací en Villavicencio Meta me crié con mi madre y mi abuela. Viví por un tiempo en la ciudad y luego me mudé al campo
    con mi familia donde construimos un conjunto familiar de cinco casas. Allí crecí la mayor parte de mi vida entre el
    campo e internet.

</p>
<p>
  
  Aprendí mucho sobre la ganadería y agricultura en el día y en la noche sobre el entorno internacional y la
  informática, con el paso del tiempo este tomo más fuerza en mí y llego a ocupar más tiempo en mi vida. Tuve muchos
  problemas por qué el campo requiere mucho trabajo y yo no quería hacerlo, quería leer.

</p>
<p>

  Tuve problemas en el colegio por qué no daba todo de mí para realizar los trabajos ya que estaba ocupado, pero por fin
  llegue a la universidad dónde lo único que hago es lo que siempre he hecho y ahora la diferencia es que me califican.
  Espero poder ayudar al mundo con todo lo que he aprendido, aveces siento afán por mis proyectos personales pero luego
  entiendo que es un proceso y me calmo.

</p>
<p>

  Me gusta la tecnología las empresas y el campo.

</p>
<p>

  Eso soy yo. 

</p>

</div>

<div class="Paragraph">

  <p>
  <h2>Contact Me</h2>
  <p>Name: Alejandro</p>
  <p>Email: alejandro-sacristan@javeriana.edu.co</p>
  </p>

</div>

{% endblock %}