{% extends 'layout.html' %}

{% block content %}

<div class="Paragraph">
    <h2>{{Titleparagraf.content}}</h2>
    <p>{{ParagrafOne.content}}</p>
</div>

<div class="Paragraph">

    <p>
        <h2>Git</h2>
        <p>{{ParagrafOne.content}}</p>
    </p>

    <p>
    
        Git es un software de <a href="https://es.wikipedia.org/wiki/Control_de_versiones">control de versiones</a> diseñado
        por <a href="https://es.wikipedia.org/wiki/Linus_Torvalds">Linus Torvalds</a>, pensando en la eficiencia y la
        confiabilidad del
        mantenimiento de versiones de aplicaciones cuando éstas tienen un gran número de archivos de código fuente. Su
        propósito
        es llevar registro de los cambios en archivos de computadora y coordinar el trabajo que varias personas realizan
        sobre
        archivos compartidos.<br />
        En cuanto a derechos de autor Git es un
        <a href="https://es.wikipedia.org/wiki/Software_libre">software libre</a> distribuible bajo los términos de la
        versión 2 de <a href="https://www.gnu.org/licenses/gpl-3.0.html">la Licencia
            Pública General de GNU</a>.
    
    </p>

    <p>
        <h3>Plataformas</h3>

        Git es un software exclusivo para las plataformas (Windows, macOS and Linux).

    </p>

    <p>
        <h3>Enlaces de Interes</h3>
        <p>
            Web Oficial de Git <a href="https://git-scm.com/">aqui</a><br />
            Alli podran descargarla y leer su documentacion para su correcto
            uso.

        </p>

    </p>
    <p>
        <h3>Por que es importante Git</h3>
        <p>
            <h4>
                “Si quieres ir rápido, ve solo. <br />
                Si quieres llegar lejos, ve acompañado”. Proverbio africano.
            </h4>
        </p>
        <p>
            <h4>
                “Divide y Vencerás”. Julio Cesar.
            </h4>
           
        </p>
         <p>
             La planeación de un proyecto 
             permite ahorrar recursos como el tiempo y dinero
             e incluso mano de obra.<br />

             Todo esto gracias la divición de tareas, funciones,
             creación de roles. Lo que logra centrar y unifocar 
             el ezfuerso de miles en un ojetivo, eso nos permite git.<br />

             

                        
        </p>
    
    </p>


</div>
{% endblock %}