{% extends 'layout.html' %}

{% block content %}
<div class="Paragraph">
    <h2>{{Titleparagraf.content}}</h2>
    <p>{{ParagrafOne.content}}</p>
    <p>

        Cuando tengo tiempos libres largos una forma como me gusta pasarlos es viendo
        peliculas con un contenido academico, desde historias de personas importantes 
        para la humanidad hasta documentales del espacio, fisica, ciencias de la computación,
        medicina, Ingenieria, proeesas, casos de exito empresarial, grandes fracasos, pscicologia,
        documentales explicando el por que de las cosas. Estos son los temas que me gusta, pero
        tembien me gusta ver mucho peliculas futuristas de Ciencia ficción creadas hace mucho tiempo 
        o modernas. Paso horas viendo y bucando peliculas en <a href="http://gnula.nu/generos/lista-de-generos/">Gnula.nu</a>
        cuando ya me he visto todo en <a href="https://www.netflix.com/browse">Netflix.com</a>
    </p>


</div>

<div class="Paragraph">

    <p>
        <h2>Learn New Technologies</h2>
        <p>{{ParagrafOne.content}}</p>
        <p>

            Esto si lo hago cada segundo libre que tengo por que la verdad me 
            emociona todas las cosas sorprendentes a las que la tenologia se puede 
            aplicar para resolver problemas del mundo cotidiano para hacer de este algo
            mas sensillo y vivible.

        </p>

        <p>

            Me imaginar las diferentes aplicabilidad que se le puede dar a la tenologia
            lo que me da ganas de estudiarla para entenderla y usarla. Pero mi gran 
            objetivo no es solo ese sino tambien de crearla.

        </p>
        
    </p>

</div>

<div class="Paragraph">

    <p>
        <h2>Dance</h2>
        <p>{{ParagrafOne.content}}</p>
        <p>
            Suena extraño pero si, me gusta bailar solo en mi cuarto,
            salto, grito en silencio, me muevo como un pulpo, con musica
            de elctromovimiento a un volumen suficiente para para aumentar
            la euforia interna. Incluso aveces lo hago con audifonos.

        </p>

    </p>

</div>

{% endblock %}