{% extends 'layout.html' %}

{% block content %}
<div class="Paragraph">
    <h2>{{Titleparagraf.content}}</h2>
    <p>{{ParagrafOne.content}}</p>
    <p>

        Cuando estoy en mis tiempos libres una forma como me gusta pasarlos es viendo
        peliculas con un contenido academico, desde historias de personas importantes 
        para la humanidad hasta documentales del espacio, fisica, ciencias de la computación,
        medicina, Ingenieria, proeesas, casos de exito empresarial, grandes fracasos, pscicologia,
        documentales explicando el por que de las cosas. Estos son los temas que me gusta, pero
        tembien me gusta ver mucho peliculas futuristas de Ciencia ficción creadas hace mucho tiempo 
        o modernas. Paso horas viendo y bucando peliculas en <a href="http://gnula.nu/generos/lista-de-generos/">Gnula.nu</a>
        cuando ya me he visto todo en <a href="https://www.netflix.com/browse">Netflix.com</a>
    </p>


</div>

<div class="Paragraph">

    <p>
        <h2>Contact Me</h2>
        <p>Name: Alejandro</p>
        <p>Email: alejandro-sacristan@javeriana.edu.co</p>
    </p>

</div>

{% endblock %}