<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../static/css/home.css">
  <link rel="shortcut icon" href="https://www.raspberrypi.org/homepage-9df4b/favicon.png">
  <title>{{title}}</title>
</head>
<body>

  <div id="Container">

    <div id="TitleHed">
      <h1>{{text.content}}!</h1>
      
    </div>
    <!----End The TitleHead-->

    <div id="Main">
      <h1>{{Titleparagraf.content}}</h1>
      <p>{{paragrafOne.content}}</p>
      
      <div id="Video">

        <p>
          <iframe width="853" height="480" src="//ok.ru/videoembed/838350015110" frameborder="0" allow="autoplay"
            allowfullscreen></iframe>
        </p>

      </div>
      
          
            
        
      

    </div>
    <!----End The MainTextBody-->

    <div id="Footer">
      <p id="CC">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licencia de Creative Commons"
            style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />Este obra está bajo una
        <a rel="license" href="https://i.creativecommons.org/l/by/4.0/88x31.png">licencia de Creative Commons
          Reconocimiento-NoComercial 4.0 Internacional</a>
      </p>
      <p>
        {{footer}}<a id="by" href="https://www.aslbank.com" target="_blank">ASL Bank.com</a></a>
      </p>
    </div>
    <!----End The Footer-->

  </div>
  <!----End The Container-->
  
 </body>
</html>
