{% extends 'layout.html' %}

{% block content %}

<div class="Paragraph">

  <h2>{{Titleparagraf.content}}</h2>
  <p>{{ParagrafOne.content}}</p>
  
  <p>
  
    <table class="egt">
      <tr>
        <th>Blog</th>
        <th>Score</th>
        <th>Fecha de Visita</th>
      </tr>
      <tr>
        <td>Url</td>
        <td>Stars</td>
        <td>D/M/A|Hora</td>
      </tr>
      <tr>
        <td>Url</td>
        <td>Stars</td>
        <td>D/M/A|Hora</td>
      </tr>
      <tr>
        <td>Url</td>
        <td>Stars</td>
        <td>D/M/A|Hora</td>
      </tr>
    </table>

</div>

<div class="Paragraph">

  <h2>Estadisticas del Concurso</h2>
  <p>2020</p>

  <p>Score Mark</p>

  <p>
    De: 0 Paricipantes
    Han gando: 0
    Han Perdido: 0
  </p>

</div>


  

{% endblock %}