{% extends 'layout.html' %}

{% block content %}


<div class="Paragraph">
    <h2>{{Titleparagraf.content}}</h2>
    <p>{{ParagrafOne.content}}</p>
    <p>
        Su pagina principal se encuntra aqui.
        <a href="https://code.visualstudio.com/">VS Code</a>
    </p>
    <p>

        Visual Studio Code es un editor de código fuente ligero pero potente que se ejecuta en su escritorio y está disponible
        para Windows, macOS y Linux. Viene con soporte incorporado para JavaScript, TypeScript y Node.js y tiene un rico
        ecosistema de extensiones para otros lenguajes (como C ++, C #, Java, Python, PHP, Go) y tiempos de ejecución (como .NET
        y Unity). Es totalmente customisable, muy intuitivo y soporta todos los formatos de lenguajes.
        Posee pequeñas apps dentro del editor para hacerlo mas productivo.

    </p>
    <p>
        Su codigo es publico y gratis se encuantra en GithHub como un proyecto OpenSource.
        Su licencia es <a href="https://opensource.org/licenses/MIT">MIT</a>
        Registrada por MicroSoft.<br></br>
        Su Codigo fuente <a href="https://github.com/microsoft/vscode">aqui</a>
    </p>

    <p>

        Puedes Descargar VS Code para la plataformas (Windows, macOS and Linux).
        <a href="https://code.visualstudio.com/">Descarga dando Click aqui</a>
        
    </p>
    


</div>

<div class="Paragraph">

<P>

    <p>
        <h2>Caracteristicas de la Licencia MIT de VSCode</h2>
        <p>Licencia Tipo: <a href="https://github.com/microsoft/vscode/blob/master/LICENSE.txt">MIT</a></p>
        <p>Licencia MIT de VSCode Traducida al Español</p>
        <p>. . . . . . </p>
        <p>
            <p>

                Licencia MIT

            </p>
            <p>

                Copyright (c) 2015 - presente Microsoft Corporation

            </p>
            <p>

                Todos los derechos reservados.

            </p>
            <p>

                Por la presente se otorga permiso, sin cargo, a cualquier persona que obtenga una copia
                de este software y los archivos de documentación asociados (el "Software"), para tratar
                en el Software sin restricción, incluidos, entre otros, los derechos
                para usar, copiar, modificar, fusionar, publicar, distribuir, sublicenciar y / o vender
                copias del Software y para permitir a las personas a quienes pertenece el Software
                amueblado para hacerlo, sujeto a las siguientes condiciones:

            </p>
            <p>

                El aviso de copyright anterior y este aviso de permiso se incluirán en todos
                copias o porciones sustanciales del Software.

            </p>
            <p>

                EL SOFTWARE SE PROPORCIONA "TAL CUAL", SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O
                IMPLÍCITO, INCLUYENDO PERO NO LIMITADO A LAS GARANTÍAS DE COMERCIABILIDAD,
                APTITUD PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN. EN NINGÚN CASO EL
                LOS AUTORES O LOS TITULARES DE LOS DERECHOS DE AUTOR SERÁN RESPONSABLES POR CUALQUIER RECLAMACIÓN, DAÑO U OTRO
                RESPONSABILIDAD, EN CASO DE ACCIÓN DE CONTRATO, TORTURA O DE OTRA MANERA, DERIVADA DE,
                FUERA DE O EN CONEXIÓN CON EL SOFTWARE O EL USO U OTRAS OFERTAS EN EL
                SOFTWARE.

            </p>


        </p>
    </p>

</P>

</div>
    

{% endblock %}