{% extends 'layout.html' %}

{% block content %}


<div class="Paragraph">
    <h2>{{Titleparagraf.content}}</h2>
    <p>{{ParagrafOne.content}}</p>
    <p>
        Su pagina principal se encuntra aqui.
        <a href="https://code.visualstudio.com/">VS Code</a>
    </p>
    <p>

        Visual Studio Code es un editor de código fuente ligero pero potente que se ejecuta en su escritorio y está disponible
        para Windows, macOS y Linux. Viene con soporte incorporado para JavaScript, TypeScript y Node.js y tiene un rico
        ecosistema de extensiones para otros lenguajes (como C ++, C #, Java, Python, PHP, Go) y tiempos de ejecución (como .NET
        y Unity). Es totalmente customisable, muy intuitivo y soporta todos los formatos de lenguajes.
        Posee pequeñas apps dentro del editor para hacerlo mas productivo.

    </p>
    <p>
        Su codigo es publico y gratis se encuantra en GithHub como un proyecto OpenSource.
        Su licencia es <a href="https://github.com/microsoft/vscode/blob/master/LICENSE.txt">MIT</a>
        Registrada por MicroSoft.
        <a href="https://github.com/microsoft/vscode">Su Codigo fuente aqui</a>
    </p>
    <p>

        Puedes Descargar VS Code para la plataformas (Windows, macOS and Linux).
        <a href="https://code.visualstudio.com/">Descarga dando Click aqui</a>
        
    </p>
    


</div>


{% endblock %}